h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}

body {
    font-family: 'Helvetica', sans-serif;
	background: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
    font-weight: 200;
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #c07247;
}

img {
    padding-top: 20px;
}

.example .img {
	width: 20%;
    display: inline-block;
    box-sizing: border-box;
}

.example h1 {
	font-size: 56px;
	line-height: 1.4;
	text-align: center;
}
.example .btn {
	display: inline-block;
	padding: 14px 24px;
	border-width: 1px;
	border-radius:8px;
	font-size: 22px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-image: linear-gradient(to bottom, rgb(98, 196, 98), rgb(81, 163, 81));
}

.example .btn:active {
	color: rgb(51, 51, 51);
}

.example .btn:hover {
        background-image: linear-gradient(to bottom, rgb(90, 180, 90), rgb(75, 160, 80));
}
