{! This is a header file, which gets included inside of base.tmpl, so that every template which includes base
   will also include this header. !}
<header>
    <div class="title">
        <p class="extract">
            {header.title}
        </p>
    </div>
</header>
